.headerContainer {
    background-color: #2E2E3A;
    color: #F0E5E9;
}

.headerButtonsContainer > button {
    background-color: #CBC0AE;
}

.headerContainer {
    margin-right: 1rem;
    margin-left: 0.5rem;
    grid-row: 1;
    grid-column: 1 / span 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.headerContainer * {
    background-color: transparent;
}

.headerContainer > h2 {
    cursor: pointer;
    font-weight: 600;
}

.headerButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
}

