.main {
    background-color: #CBC0AE;
    width: 100%;
    height: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 0.75fr 0.75fr 0.75fr 1fr;
    grid-template-columns: 1fr;
}

.welcomeContainer,
.typContainer,
.guideContainer,
.featuresContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.welcomeContainer > p {
    margin-top: 1.25rem;
}

.welcomeContainer,
.guideContainer {
    background-color: #CBC0AE;
}

.typContainer,
.featuresContainer{
    background-color: #5D707F;
}

.welcomeContainer > h1,
.typContainer > h1,
.guideContainer > h1,
.featuresContainer > h1 {
    display: inline;
    width: 100%;
    text-align: center;
    font-size: clamp(2em, 4em, 6em);
    margin: 0;
}

.typContainer > h4,
.featuresContainer > h4 {
    display: inline;
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: clamp(1.25em, 1.75em, 2.25em);
}

.welcomeContainer > p,
.guideContainer > p {
    width: 70%;
    text-align: justify;
    font-size: clamp(1em, 1.5em, 2em);
}

.guideContainer > p {
    width: 100%;
    text-align: center;
}

.typContainer > span {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.typContainer > span > button {
    font-size: clamp(1em, 1.15em, 2em);
}

.guideContainer > .guidesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
}

.guideContainer > .guidesContainer > .guideButton {
    background-color: #5D707F;
    font-size: clamp(1em, 1.15em, 2em);
}

.featuresContainer > .featureButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featuresContainer > .featureButtons > .featureButton {
    width: 35%;
    margin: 0.5rem;
    cursor: pointer;
}

.featureButton *,
.dbButton * {
    cursor: pointer;
}

.featuresContainer > .dbButton {
    width: 72%;
    margin: 0.5rem;
}

.backmost {
    z-index: 0;
}

.modelCover {
    z-index: 1;
}

.registerDiv {
    z-index: 2;
}

